html{
margin:0;
padding:0;
width: 100%;
overflow-x:hidden;
height:100%;
display:table;
}

body{
padding:0;
margin:0;
min-height:100%;
display:table-row;

}

main{
    display:table-cell;
vertical-align:middle;
background-color: rgb(0, 0, 0);
width:100%;
height:100%;


}
#masterBox{
margin-left:auto;
margin-right:auto;
display:flex;
position:relative;
flex-direction:column;
border-radius:7px 7px 7px 7px;
width:100%;
height:30em;
max-width:60em;
min-width:40em;







}
#light{
    animation-name:LogoGlide;
animation-duration:10s;
animation-iteration-count:infinite;
    display:block;
    position:absolute;
   color:white;
   background-color:white;
    
    box-shadow:0px 0px 2px 4px white;
    border-radius:360%;
}
@keyframes LogoGlide{
    0% { margin-top:0;margin-left:0%;width:1em;height:0em;}

    24% { margin-top:0;margin-left:98%;width:1em;height:0em;}
    26% { margin-top:0;margin-left:100%;width:0em;height:1em;}

    49% { margin-top:48%;margin-left:100%;width:0em;height:1em;}
    51% { margin-top:50%;margin-left:100%;width:1em;height:0em;}

    74% { margin-top:50%;margin-left:1%;width:1em;height:0em;}
    76% { margin-top:50%;margin-left:0;width:0em;height:1em;}

    98% { margin-top: 1%;margin-left:0;width:0em;height:1em;}
    100% { margin-top:0;margin-left:0;width:1em;height:0em;}
  
}
#upperSearch{
display:flex;
border-bottom:1px solid black;
height:4em;
background-color:red;
overflow:hidden;
z-index:35;
border-radius:7px 7px 0px 0px;
}
#lowerSearch{
   display:flex;
   flex-grow:1;

}

#optionTab{
    display:flex;
    flex-direction:column;
    width:12em;
    height:100%;
    border-right:1px solid black;
 z-index:30;
 box-shadow: 9px 2px 9px 7px rgba(0,0,0,0.54);
    background-color: blueviolet;
    border-radius:0px 0px 0px 7px;
}

#search{
    display:block;
    width:100%;
    background-color:white;
    border-bottom:1px solid black;
    height:2em;
    
}
#list{

}

#viewTab{
    z-index:25;
    display:flex;
    flex-direction:column;
    flex-grow:1;
    background-color:aliceblue;
    border-radius:0px 0px 7px 0px;
    height:100%;
}
#description{
    padding:1em;
    box-sizing:border-box;
    border-bottom:1px solid black;
    height:50%;
    overflow-y:scroll;
    display:flex;
    background-color: brown;
}
#pictures{
    padding:1em;
    display:flex;
    height:50%;
    background-color:blue;
    box-sizing:border-box;
}

